.page, .education {
  background-color: #bcd2ee;
  border-radius: 5px;
  margin: 32px 16px;
  padding: 16px; }

.page-title, .education-title {
  font-weight: bold;
  font-family: "Odstemplik"; }

.page-content, .education-content {
  display: flex;
  flex-direction: row;
  align-items: center; }

@media screen and (max-width: 700px) {
  .page-content, .education-content {
    flex-direction: column; }
  .page, .education {
    margin: 24px 12px;
    padding: 12; } }

.education-content {
  justify-content: space-evenly; }
