.education {
  background-color: rgb(236, 236, 236);
  min-width: 98vw;
  width: calc(100% - 30px);
  margin: auto;
  margin-top: 2vw;
  margin-bottom: 1vw;
}

.education-title {
  font-weight: bold;
  margin: 10px;
  font-family: 'Odstemplik';
}

.education-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media screen and (max-width: 600px) {
  .education-content {
    flex-direction: column;
    align-items: center;
  }
}
