.education-title {
  font-weight: bold;
  margin: 15px;
  font-family: 'Odstemplik';
}

.education-entry {
  display: flex;
  margin-bottom: 20px;
  width: 95%;
  background-color: rgb(236, 236, 236);
  padding: 10px;
  border-radius: 5px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

.education-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.education-entry-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  padding: 0 30px;
  width: 100%;
}

.education-entry-title {
  font-weight: bold;
}

.education-entry-description {
  margin-bottom: 15px;
}

.education-entry-field {
  text-decoration: underline;
}

.education-entry-university {
  display: flex;
  align-items: center;
}

.education-entry-university-faculty {
  height: 1em;
  margin-right: 5px;
}



@media screen and (max-width: 600px) {
  .education-entry {
    flex-direction: column;
    align-items: center;
  }

  .education-entry-date {
    border-bottom: black solid 1px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 600px) {
  .education-entry-date {
    width: 150px;
    text-align: start;
    height: 75px;
    border-right: black solid 1px;
    margin-right: 10px;
  }
}

