.page-title {
  position: absolute;
  left: 25px;
  top: 5px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .page-title {
    position: relative;
    padding-top: 5px;
    left: unset;
    top: unset;
  }
}
