.page-title {
  position: absolute;
  top: 0;
  left: 25px;
  cursor: pointer; }

@media screen and (max-width: 700px) {
  .page-title {
    position: relative;
    padding-top: 5px;
    left: unset;
    top: unset; } }
