.Navigation-Menu-Item {
  font-size: 1.5em;
  padding: 10px;
  margin: 0 10px;
  cursor: pointer;
  color: gray;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Navigation-Menu-Item--current {
  font-weight: bold;
  color: black;
}

@media screen and (max-width: 600px) {
  .Navigation-Menu-Item-Title {
      display: none;
  }


  .Navigation-Menu-Item-Title {
      display: none;
  }

  .Navigation-Menu-Item {
    font-size: 1.2em;
    padding: 0 10px;
    margin: 0;
  }
}
