.experience-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vw 0;
  width: 50%; }

.experience-item-role {
  font-weight: bold;
  margin: 10px; }

.experience-item-company {
  display: flex;
  align-items: center;
  margin: 10px; }

.experience-item-company-logo {
  margin-right: 10px;
  height: 2em; }

.experience-item-company-name {
  margin-right: 10px; }

@media screen and (max-width: 800px) {
  .experience-item {
    width: 100%;
    flex-direction: column; } }
