.experience-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%; }

.experience-item-border {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  max-width: 90%;
  padding: 16px 0; }

.experience-item-role {
  font-weight: bold;
  margin: 10px; }

.experience-item-company {
  display: flex;
  align-items: center;
  margin: 10px; }

.experience-item-company-logo {
  margin-right: 10px;
  height: 2em; }

.experience-item-company-name {
  margin-right: 10px; }

@media screen and (max-width: 1500px) {
  .experience-item {
    width: 50%; }
  .experience-item:not(:nth-last-child(-n + 2)) .experience-item-border {
    border-bottom: 1px solid grey; } }

@media screen and (max-width: 700px) {
  .experience-item {
    width: 100%; }
  .experience-item:not(:last-child) .experience-item-border {
    border-bottom: 1px solid grey; } }
