@import '../../../theme.scss';

.blog-entry {
  display: 'flex';
  flex-direction: column;
  background-color: $bg-color-secondary;
  padding: 24px;
  border-radius: 5px;
}

.blog-entry-header {
  display: flex;
  justify-content: space-between;
}

.blog-entry-title {
  font-weight: bold;
}

.blog-entry-content {
  display: flex;
}

.blog-entry-extract {
  text-align: start;
}

.blog-entry-open {
  background: none;
  border: none;
  cursor: pointer;
  color: #1338be;
  font: inherit;
  margin-left: 8px;
}
