.posts-list {

}

.posts-list-entry {
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px;
}

.posts-list-entry-details {
  display: flex;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .posts-list-entry-details {
    flex-direction: row;
  }
}


@media screen and (max-width: 600px) {
  .posts-list-entry-details {
    flex-direction: column-reverse;
  }
}


.posts-list-entry-title {

}

.posts-list-entry-summary {
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 100%;
}

.posts-list-entry-image {
}
