.carousel {
  width: calc(100vw);
  height: calc(60vh);
  position: relative;
  margin-bottom: 1vh;
}

.carousel-title {
  font-family: 'Odstemplik';
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  color: white;
  font-size: 3em;
  font-style: italic;
}

.carousel-item {
  margin: 0;
  width: 58%;
  height: 100%;
  position: absolute;
  transition: left 0.8s;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 600px) {
  .carousel {
    height: calc(60vh);
    position: relative;
    overflow: hidden;
  }

  .carousel-item:not(.carousel-item--hidden) {
    width: 100vw;
    transform: translateX(-21vw);
  }

  .carousel-item--hidden {
    visibility: hidden;
  }
}
