.page, .contact {
  background-color: #bcd2ee;
  border-radius: 5px;
  margin: 32px 16px;
  padding: 16px; }

.page-title, .contact-title {
  font-weight: bold;
  font-family: "Odstemplik"; }

.page-content, .contact-content {
  display: flex;
  flex-direction: row;
  align-items: center; }

@media screen and (max-width: 700px) {
  .page-content, .contact-content {
    flex-direction: column; }
  .page, .contact {
    margin: 24px 12px;
    padding: 12; } }

.contact-content {
  justify-content: center; }
