.contact-title {
  font-family: 'Odstemplik';
  font-weight: bold;
  margin: 15px;
}

.contact-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contact-element {
  flex-direction: column;
  width: 150px;
  margin: 15px 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.contact-icon {
  height: 2em;
}

@media screen and (max-width: 600px) {
  .contact-content {
    flex-direction: column;
  }
}

@media screen and (min-width: 600px) {
  .contact-content {
    flex-direction: row;
  }
}
